[submodule ".config/zsh"]
	path = .config/zsh
	url = git@github.com:illia-shkroba/zsh-config.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:illia-shkroba/neovim-config.git
[submodule ".config/tmux"]
	path = .config/tmux
	url = git@github.com:illia-shkroba/tmux-config.git
[submodule ".config/tmux-powerline"]
	path = .config/tmux-powerline
	url = git@github.com:illia-shkroba/tmux-powerline-config.git
[submodule ".config/xmonad"]
	path = .config/xmonad
	url = git@github.com:illia-shkroba/xmonad-config.git
[submodule ".config/xmobar"]
	path = .config/xmobar
	url = git@github.com:illia-shkroba/xmobar-config.git
[submodule ".config/st"]
	path = .config/st
	url = git@github.com:illia-shkroba/st-config.git
