[submodule "zsh"]
	path = zsh
	url = git@github.com:illia-shkroba/zsh-config.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:illia-shkroba/neovim-config.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:illia-shkroba/tmux-config.git
[submodule "xmonad"]
	path = xmonad
	url = git@github.com:illia-shkroba/xmonad-config.git
[submodule "xmobar"]
	path = xmobar
	url = git@github.com:illia-shkroba/xmobar-config.git
[submodule "st"]
	path = st
	url = git@github.com:illia-shkroba/st-config.git
[submodule "npm"]
	path = npm
	url = git@github.com:illia-shkroba/npm-config.git
[submodule "python"]
	path = python
	url = git@github.com:illia-shkroba/python-config.git
[submodule "X11"]
	path = X11
	url = git@github.com:illia-shkroba/X11-config.git
[submodule "qutebrowser"]
	path = qutebrowser
	url = git@github.com:illia-shkroba/qutebrowser-config.git
[submodule "mpv"]
	path = mpv
	url = git@github.com:illia-shkroba/mpv-config.git
[submodule "git"]
	path = git
	url = git@github.com:illia-shkroba/git-config.git
[submodule "stack"]
	path = stack
	url = git@github.com:illia-shkroba/stack-config.git
[submodule "mpd"]
	path = mpd
	url = git@github.com:illia-shkroba/mpd-config.git
