[submodule "zsh"]
	path = zsh
	url = git@github.com:illia-shkroba/zsh-config.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:illia-shkroba/neovim-config.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:illia-shkroba/tmux-config.git
[submodule "xmonad"]
	path = xmonad
	url = git@github.com:illia-shkroba/xmonad-config.git
[submodule "xmobar"]
	path = xmobar
	url = git@github.com:illia-shkroba/xmobar-config.git
[submodule "st"]
	path = st
	url = git@github.com:illia-shkroba/st-config.git
[submodule "npm"]
	path = npm
	url = git@github.com:illia-shkroba/npm-config.git
[submodule "python"]
	path = python
	url = git@github.com:illia-shkroba/python-config.git
[submodule "X11"]
	path = X11
	url = git@github.com:illia-shkroba/X11-config.git
[submodule "qutebrowser"]
	path = qutebrowser
	url = git@github.com:illia-shkroba/qutebrowser-config.git
[submodule "mpv"]
	path = mpv
	url = git@github.com:illia-shkroba/mpv-config.git
[submodule "git"]
	path = git
	url = git@github.com:illia-shkroba/git-config.git
[submodule "stack"]
	path = stack
	url = git@github.com:illia-shkroba/stack-config.git
[submodule "mpd"]
	path = mpd
	url = git@github.com:illia-shkroba/mpd-config.git
[submodule "ncmpcpp"]
	path = ncmpcpp
	url = git@github.com:illia-shkroba/ncmpcpp-config.git
[submodule "zathura"]
	path = zathura
	url = git@github.com:illia-shkroba/zathura-config.git
[submodule "picom"]
	path = picom
	url = git@github.com:illia-shkroba/picom-config.git
[submodule "fastfetch"]
	path = fastfetch
	url = git@github.com:illia-shkroba/fastfetch-config.git
[submodule "starship"]
	path = starship
	url = git@github.com:illia-shkroba/starship-config.git
[submodule "btop"]
	path = btop
	url = git@github.com:illia-shkroba/btop-config.git
[submodule "atuin"]
	path = atuin
	url = git@github.com:illia-shkroba/atuin-config.git
